.mat-card {
    margin: 20px 10px 0px 10px;
    height: 29vh;
    display: flex;
    flex-direction: column;
}
.card{
    flex: 1 1 25%;
}
.mat-card-content{
    margin-bottom: 0px;
    flex: 1 1 auto;
}

.flex{
    flex-wrap: wrap;
}

.cards-container{
    overflow: auto;
}

.paginator, .mat-paginator{
    flex: 1 1 auto;
}

.mat-card-title{
    margin-bottom: 5px;
}

.mat-card-content, .mat-card-avatar{
    background-size: cover;
}